.todo-item {
    font-family: Arial, Helvetica, sans-serif;
    color:  #757575;
    font-size: .9em;
}

.todo-item  .header-content h1 {
    color:  #757575;
    margin: 15px auto;
    font-size: 1.5em;
}

.todo-item .todo-form { 
    width: 70%;
    margin: 0 auto;
}

.todo-item input[type=text],
.todo-item input[type=date], select { 
    padding: 8px 10px;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #757575;
    margin: 5px 0 20px 0; 
    font-size: .8rem;
}

.todo-item .full {
    width: 100%;
}

.todo-form .half {
    width: 45%; 
    display: inline-block;
}

.todo-form .left {
    margin-right: 8%;
}

.todo-form .flagged {
    float: right; 
    width: 15%; 
    margin-bottom: 20px;
}

.todo-form .buttons .btn {
    display: inline-block;
    text-align: center;
    width: 49%;
    margin: 0;
    padding: 12px;
    border: none;
    color: #fff;
}

.todo-form .buttons .btn:first-child {
    background-color: #07aa0f;
}

.todo-form .buttons .btn:last-child {
    background-color: #e9410e;
}

.todo-form .buttons .btn:first-child:hover {
    background-color: #07ca11;
}

.todo-form .buttons .btn:last-child {
    background-color: #f13e08;
}
.todo-form .buttons .btn:last-child:hover {
    background-color: #c2350a;
}
 



