.header-content h1 {
    color:  #757575;
    margin: 20px auto 30px auto; 
    font-size: 1.5em;
}

.todo-item .todo-form { 
    width: 70%;
    margin: 0 auto;
    font-size: .9em;
}

.todo-item input[type=text],
.todo-item input[type=date], select { 
    padding: 8px 10px;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #757575;
    margin: 5px 0 20px 0; 
    font-size: .8rem;
}

.todo-item .full {
    width: 100%;
}

.todo-form .half {
    width: 45%; 
    display: inline-block;
}

.todo-form .left {
    margin-right: 8%;
}

.todo-form .flagged {
    float: right; 
    width: 15%; 
    margin-bottom: 20px;
}

.todo-form .buttons .btn { 
    text-align: center;
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    color: #fff;
    float: right;
}




